body{
    background-color: #a0a0a0;
    width: 100%;
}
/********* NAVBAR *******/
.bg-light{
    background-color: #2020203f !important; 
}
.navbar-light .navbar-nav .nav-link.active, .navbar-brand{
    color: #fff !important;
    font-weight: bold!important;
    font-size: 2rem!important;
    margin-right: 80px !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.form {
    display: flex;
    flex-direction: row;
  }
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -40px;
  }
.search-button svg {
    width: 20px;
    height: 20px;
    object-fit: cover;
    color: rgb(255, 255, 255);
}

.form-control {
    background-color: #2020203f !important;
    border-color: #ffffff !important;
    color: #fff !important;

}
/**** End Navbar *****/

/****** CONTENT ******/
h1{
    margin: 30px 0;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(73, 72, 72);
}
h1::after {
    content: "";
    display: block;
    border-bottom: 2px solid orange;
    width: 0;
    position: relative;
    bottom: -7px; /* your padding + border-width */
    transition: width .6s ease;
  }
  
  .section:hover h1::after {
    width: 25%;
  }
.row{
    margin-bottom: 20px;
}

.col {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}
.card-img-top{
    position: relative;
}
.heart-icon svg{
    position: absolute; 
    top:0; 
    right:0;
    color: rgb(122, 122, 122);
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
   
}
.heart-icon svg:hover{
    color: red;
}
.bi-star-fill{
    color: rgb(233, 210, 0);
   
}
.col .card{
    width: 50%;
    height: auto;
    object-fit: cover;
    background-color: transparent;
    border: none;
}
.card  svg{
 display: inline-block;
 margin-left: 10px;
}
.btn-trailer{
    background-color: #202020 !important;
    border-color: #202020 !important;
    color: #fff !important;
    float: right !important;
    margin-right: 20px!important;
}
.btn-trailer:hover{
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #202020 !important;
}
/****** End Content ******/

/****** FOOTER ******/
footer{
    width: 100%;
    background-color: #2020203f;
    color: #fff;
    padding: 20px;
    float: left;
    
}
